<footer class="footer">
  <div class="footer-contenido">
    <p>&copy; 2025 TodoAudio. Todos los derechos reservados.</p>
    <ul class="redes">
      <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
    </ul>
  </div>
</footer>
