<header class="navbar">
  <div class="logo">
    <a href="index.html"><img src="/media/logo.png" alt="Logo" /></a>
  </div>

  <button class="menu-icon" id="toggleMenu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav-links" id="navMenu">
    <a href="index.html">Inicio</a>
    <a href="nosotros.html">Sobre Nosotros</a>
    <a href="servicios.html">Servicios</a>
    <a href="eventos.html">Eventos</a>
    <a href="testimonios.html">Testimonios</a>
    <a href="contacto.html">Contacto</a>
  </nav>
</header>
